#header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

#header .header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--header-list-height);
}

#header .header__navbar-list {
    margin-top: 8px;
}

#header .header__navbar-items {
    margin: 0 10px;
    position: relative;
}

#header .header__navbar-items,
#header .header__navbar-items > a {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
}
#header .header__navbar-items:hover,
#header .header__navbar-items > a:hover {   
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

#header .header__navbar-items-bold {
    font-weight: 500;
}

.header__navbar-items-separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #fff;
    right: -12px;
    top: 0;
}

.no-hover {
    cursor: default;
    color: var(--white-color);
}

.header__navbar-items .fa {
    margin-left: 5px;
    font-size: 1.8rem;
}

/* QR-code */

.header__qrcode {
    width: 100%;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #fff;
    display: none;
}

.header__qrcode::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: -10px;
    background-color: transparent;
}

.header__qrcode img {
    width: 100%;
}

.header__qrcode-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__qrcode-content a {
    margin: 0 10px;
}

.header__qrcode-content img {
    height: 25px;
}

.header__navbar-items:first-child:hover .header__qrcode {
    display: block;
}

/* notification */

.header__notify {
    --grow-from: 0.7;
    --grow-to: 1;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 404px;
    border: 1px solid #c7c7c7;
    background-color: var(--white-color);
    cursor: default;
    display: none;
    z-index: 3;
    transform-origin: calc(100%-50px) top;
    will-change: opacity, transform;
    animation: fadeIn ease-in .2s;
}

.header__notify::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 34px;
    height: 30px;
    width: 30px;
    background-color: var(--white-color);
    transform: rotate(-45deg);
}

.header__notify-header {
    height: 40px;
}

.header__notify-header h3{
    font-size: 1.4rem !important;
    color: #c5c5c5;
    font-weight: 400;
    line-height: 40px;
    margin-left: 8px;
    user-select: none;
}

.header__notify-items {
    width: 100%;
    list-style: none;
}

.header__notify-items:hover {
    background-color: #f0ecec;
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    overflow: hidden;
}

.header__notify-link img {
    display: flex;
    align-self: start;
    width: 48px;
    margin-right: 5px;
    flex-shrink: 0;
    margin-left: 8px;
}

.header__notify-content {
    flex: 1;
    margin-bottom: 20px;
}

.header__notify-content .header__notify-name {
    display: block;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 4px;
}

.header__notify-content .header__notify-desc {
    display: block;
    font-size: 1.3rem;
}

.header__notify-footer {
    text-align: center;
    margin-bottom: 10px;
}

.header__notify-footer a {
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
    padding: 10px 165px;
}

.header__notify-footer a:hover {
    background-color: #f0ecec;
}

.header__navbar-items--hover:hover .header__notify{
    display: block;
}

.header__navbar-items--hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -10px;
    right: 0;
    background-color: transparent;
}

/* register-form */

.auth-form {
    background-color: var(--white-color);
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
    margin-top: 36px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.auth-form__header h3 {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.auth-form__header span {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    padding: 12px 12px;
    margin-top: 20px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 30px;
    padding: 0 60px;
}

.auth-form__policy {
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    text-align: center;
    line-height: 1.8rem;
}

.auth-form__policy a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.auth-form__controls {
    margin: 80px 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn--with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    color: var(--text-color);
}

.btn--with-icon .icon-social {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
}

.btn--with-icon p {
    flex-basis: 80%;
    margin-left: 10%;
}

.btn--facebook {
    background-color: #3A5A98;  
    color: var(--white-color);
}

.auth-form__socials img {
    width: 12px;
    height: 15.6px; 
}

/* login-form */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    border-right: 1px solid #eaeaea;
    margin: 1px 16px 0;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__forget {
    color: var(--primary-color);
}

/* navigation-with-search */

.header-with-search {
    display: flex;
    align-items: center;
    margin: 0 8px;
    height: calc(var(--header-height) - var(--header-list-height));
}

.header-logo {
    width: 220px;
}

.header-logo-img {
    width: 160px;
}

.header-search {
    background-color: #fff;
    flex: 1;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header-search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header-search-input:focus ~ .header-search-history {
    display: block;
}
/* search-history */

.header-search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 10px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #666;
    border-radius: 3px;
    display: none;
}

.header-search-history-heading {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 300;
    padding: 10px 15px 10px 16px;
}

.header-search-list {
    display: block;
    width: 100%;
    list-style: none;
}

.header-search-items {
    width: 100%;
}

.header-search-items a {
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.header-search-items:hover a {
    background-color: #fafafa;
    cursor: pointer;
}

.header-search-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
}

.header-search-btn {
    display: flex;
    align-items: center;
    flex-basis: 6%;
}

.header-search-btn a {
    width: 60px;
    height: 100%;
    padding: 9px;
    margin-right: 3px;
    background-color: #fb5533;
    border: none;
    outline: none;
    text-align: center;
}

.header-search-btn a:hover {
    background-color: #fb6445;
} 

.header-search-btn a .fa {
    font-size: 1.4rem;
    color: var(--white-color);
    margin: 2px;
}

/* cart-icon */

.header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.header-cart-wrap {
    position: relative;
    display: inline-block;
    padding: 8px;
}

.header-cart-wrap::after {
    content: "";
    display: block;
    width: 200%;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
}

.header-cart .cart-icon {
    margin-top: 15px;
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.header-cart-notice-no-cart {
    display: block;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 1px 5px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.2rem;
    border-radius: 25px;
    border-width: 2px;
}

.header-cart-wrap:hover .header-cart-list {
    display: block;
}

.header-cart-list {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 3px 10px 2px #ccc;
    display: block;
}

.header-cart-list::after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 16px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transform: rotate(45deg);
    background-color: var(--white-color);
}

.header-cart-list-no-cart {
    padding: 24px 0;
}

.header-cart-list .header-cart-img-no-cart {
    width: 60%;
    display: none;
}

.header-cart-list .header-cart-content-no-cart {
    display: none;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--text-color);
}

.header-cart-list-no-cart .header-cart-img-no-cart,
.header-cart-list-no-cart .header-cart-content-no-cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* has-cart */

.header-cart-heading{
    height: 40px;
    font-size: 1.4rem;
    color: #c5c5c5;
    font-weight: 400;
    line-height: 40px;
    margin-left: 8px;
    user-select: none;
}
.header-cart__list{
    list-style: none;
}
.header-cart__items{
    width: 100%;
}
.header-cart-link{
    text-decoration: none;
    display: flex;
}

.header-cart-link img {
    width: 50px;
    height: 50px;
    padding: 8px;
}

.header-cart__items-section{
    padding: 8px 8px 8px 0;
    flex: 1;
}

.header-cart__items-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cart__items-name{

}

.header-cart__items-price{

}

.header-cart__items-body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-cart__items-remove{

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(var(--grow-from));
    }
    to {
        opacity: 1;
        transform: scale(var(--grow-to));
    }
}

@keyframes opacityOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}